@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=REM&display=swap');
body,h1,ul,li{
    padding: 0;
    margin: 0;
}
body {
    background-color: midnightblue; 
    }
    h1{
        font-family: 'Alfa Slab One', serif;
        text-align: center;
        color: forestgreen;
    }
    p {
        text-align: center;
        font-family: 'REM', sans-serif;
    }
   h3{
    font-family: 'Alfa Slab One', serif;
    text-align: center;
   }
   h4{
    font-family: 'Alfa Slab One', serif;
    text-align: center;
}
    h5{
        font-family: 'REM', sans-serif;
        text-align: center;
    }
    div{
        width: 900px;
        max-width: 95%;
        margin: 0 auto
    }
    article{
        text-align: center;
        background-color: rgb(207, 247, 192);
        padding: 5px;
        margin: 5px;
    }
    nav{
        padding-left: 100px;
        padding-right: 100px;
        }
        nav li {
            display: inline-block;
            align-content: center;
         }
         nav a  {
            text-decoration: none;
            color: rgb(15, 102, 28);
            font-family: 'REM', sans-serif;
            background-color: rgb(170, 184, 240);
            padding: 15px;
            display: inline-block;
         }
         nav a:hover  {
            color:rgb(203, 202, 241);
            background-color: rgb(12, 77, 7);
         }
         .centrada {
            display: block;
            margin-left: auto;
            margin-right: auto;
           
            width: 50%;
        }
        .card {
            stroke: darkgreen;
        }
        